:root{ 
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* box */
.d-flex{
    display: flex;
}
.align-c{
    align-items: center;
}
.content-c{
    justify-content: center;
}
.content-between{
    justify-content: space-between;
}
.f-wrap{
    flex-wrap: wrap;
}
.d-grid{
    display: grid;
}
.gap-10{
    gap: 10px  ;
}
.gap-20{
    gap: 20px  ;
}
.d-block{
    display: block;
}
.d-none{
    display: none;
}
/* padding and margin */ 
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.pl-15{
    padding-left: 15px;
}
.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}
.m-20{
    margin: 20px;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
/* borders */
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
.rad-half{
    border-radius: 50%;
}
/* colors */
.bg-eee{
    background-color: #eee;
}
.bg-white{
    background-color: white; 
}
.bg-blue{
    background-color: var(--blue-color);
}
.bg-red{
    background-color: var(--red-color);
}
.bg-green{
    background-color: var(--green-color);
}
.bg-orange{
    background-color: var(--orange-color);
}
.c-black{
    color: black;
}
.c-white{
    color: white;
}
.c-grey{
    color: var(--grey-color);
}
.c-blue{
    color: var(--blue-color);
}
.c-green{
    color: var(--green-color);
}
.c-red{
    color: var(--red-color);
}
.c-orange{
    color: var(--orange-color);
}
/* position */
.relative{
    position: relative;
}
.absolute{
    position: absolute;
} 
/* texts */
.capitalize{
    text-transform: capitalize;
}
.uppercase{
    text-transform: uppercase;
}
.txt-c{
    text-align: center;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-17{
    font-size: 17px;
}
.fs-20{
    font-size: 20px;
}
.fs-24{
    font-size: 24px;
}
.fs-25{
    font-size: 25px;
}
.fw-bold{
    font-weight: bold;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.font-inherit{
    font-family: inherit;
}
/* size */
.w-fit{
    width: fit-content;
}
.w-100{
    width: 100%;
}
/* transition */
.t-03{
    transition: 0.3s;
}
/* overflow */
.o-hidden{
    overflow: hidden;
}
/* components */
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.between-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
}
/* medias */ 
@media (max-width: 767px){
    .block-mobile{
        display: block;
    }
    .txt-c-mobile{
        text-align: center;
    }
    .hide-mobile{
        display: none;
    } 
}
/* other */
.pointer{
    cursor: pointer;
}
.default{
    cursor: default;
}