:root{
    --transition-time: 0.3s;
    --border-color: #eee;
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
.content .wrapper{
    grid-template-columns: repeat(1, minmax(450px, 1fr));
    margin: 0 20px 20px;
}
@media (max-width: 767px){
    .content .wrapper{
        grid-template-columns: minmax(200px, 1fr);
        margin: 0 10px 10px;
    }
}
/* box */
.notice .shuffle .box{
    width: 50%;
    border-radius: 3px;
    margin: 0 0 20px;
}
.notice .shuffle:not(:first-child) .box{
    margin: 20px 0;
}
.notice .shuffle .box span{
    cursor: default;
}
.notice .box{
    margin-bottom: 10px;
    border-radius: 3px;
    padding-left: 30px;
    box-shadow: rgb(0 0 0 / 4%) 0px 0px 8px;
}
.notice .box::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 4px;
    left: 0;
    bottom: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.notice .box.facebook::before{
    background-color: #1877f2;
}
.notice .box.twitter::before{
    background-color: #1da1f2;
}
.notice .box.whatsapp::before{
    background-color: #27d146;
}
.notice .box.insta::before{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.notice .box.youtube::before{
    background-color: #ff0000;
}
.notice .box.system::before{
    background-color: red;
}
.notice .box > a{
    margin-right: 20px;
    position: relative;
}
.notice .box > a::before{
    content: '';
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 13px;
    height: 13px;
    border: 2px solid white;
    border-radius: 50%;
}
.notice .box > a.online::before{
    background-color: var(--green-color);
}
.notice .box > a.offline::before{
    background-color: #a7aeb1;
}
.notice .box > a.system::before{
    background-color: red;
}
.notice .box > a i{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #a8aeb1;
    background-color: #dddfe0;
    border-radius: 50%;
    font-size: 26px;
}
.notice .box > a img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.notice .box .info p{
    max-width: 600px;
    margin: 3px 0;
}
.notice .box .info span.action{
    color: #4a4a4a;
}
.notice .box .info span.from{
    cursor: default;
}
.notice .box .info span.from.facebook{
    color: #1877f2;
}
.notice .box .info span.from.twitter{
    color: #1da1f2;
}
.notice .box .info span.from.insta{
    color: #d6249f;
}
.notice .box .info span.from.whatsapp{
    color: #27d146;
}
.notice .box .info span.from.youtube{
    color: #ff0000;
}
.notice .box .info span.from.system{
    color: red;
    text-transform: capitalize;
}
.notice .box .time{
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.notice .box .new{
    padding: 1px 5px;
    background-color: red;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: 500;
    cursor: default;
}
@media (max-width: 500px){
    .notice .box .new{
        display: none;
    }
}
.notice .text{
    margin: 30px auto 20px;
    font-size: 15px;
    color: var(--light-grey-color);
}
@media (max-width: 767px){
    .notice .shuffle .box{
        width: 100%;
    }
    .notice .box .info p{
        font-size: 15px;
    }
    .notice .box .info span.from{
        font-size: 15px;
    }
}